<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<div class="container products-wrapper">
				<div class="row">
					<% autos.forEach(element =>{%>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="product/product/<%= element.id%>">
									<figure class="product-box_image">
										<img src="<%= element.image_URL%>" alt="<%= element.nombre%>">
									</figure>
									<article class="product-box_data">
										<h2><%= element.nombre%></h2>
										<p><%= element.descripcion%></p>
										<a href="users/profile/<%= element.userP.id%>"><%= element.userP.nombre%></a>
									</article>
								</a>
							</section>
						</div>
						<%})%>
				</div>
			</div>
		</div>
		<!-- Más comentados -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Más antiguos</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<div class="container products-wrapper">
					<div class="row">
						<% autosViejos.forEach(element =>{%>
							<div class="col-12 col-sm-6 col-lg-3">
								<section class="product-box">
									<a href="product/product/<%= element.id%>">
										<figure class="product-box_image">
											<img src="<%= element.image_URL%>" alt="<%= element.nombre%>">
										</figure>
										<article class="product-box_data">
											<h2><%= element.nombre%></h2>
											<p><%= element.descripcion%></p>
											<a href="users/profile/<%= element.userP.id%>"><%= element.userP.nombre%></a>
										</article>
									</a>
								</section>
							</div>
							<%})%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->
	<%- include('./partials/footer') %>
</body>	
</html>