<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/headerLogueado') %>
	<!-- /Header -->
	
	<!-- Banner -->
	<div class="banner">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Vistos recientemente...</h2>
			</div>
			<div class="container products-wrapper">
				<div class="row">
					<% autos.forEach(element =>{%>
						<div class="col-12 col-sm-6 col-lg-3">
							<section class="product-box">
								<a href="product/<%= element.id%>">
									<figure class="product-box_image">
										<img src="<%= element.image%>" alt="<%= element.nombre%>">
									</figure>
									<article class="product-box_data">
										<h2><%= element.nombre%></h2>
										<p><%= element.descripcion%></p>
										<p>Comentarios: 12</p>
									</article>
								</a>
							</section>
						</div>
						<%})%>
				</div>
			</div>
		</div>
		<!-- Más comentados -->
		<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/bmw-x6.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>BMW X6</h2>
							<p>2017 BMW X6 3.0 XDRIVE35I AUTO 4WD</p>
							<p>Comentarios: 12</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/208.png" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Peugeot 208</h2>
							<p>Vehículo dinámico y bien equilibrado. Equipado para hacer de tu viaje toda una experiencia: posee el nuevo i_Cockpit, caja automática de seis velocidades, dispositivo all-in-one con pantalla táctil, techo de cielo panorámico. Además, incorpora tecnologías de punta para mejorar su rendimiento, usabilidad y seguridad, como adaptación automática al entorno luminoso, mantenimiento línea de carril y alerta de descanso.</p>
							<p>Comentarios: 5</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/corolla.jfif" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Toyota Corolla 2020</h2>
							<p>Auto veloz, con motor potente. Facherito.</p>
							<p>Comentarios: 13</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/product">
						<figure class="product-box_image">
							<img src="/images/autos/giulia.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Alfa Romeo Giulia</h2>
							<p>Motor V6 de origen Ferrari. Un propulsor que con un sistema biturbo desarrolla la tremenda potencia de 510 CV. Este propulsor le permite una aceleración de 0 a 100 km/h de sólo 3,9 segundos, y una velocidad máxima posiblemente superior a los 300 km/h.</p>
							<p>Comentarios: 19</p>
						</article>
					</a>
				</section>
			</div>
		</div>
		</div>
	</div>
	<!-- /Más comentados -->
	<%- include('./partials/footer') %>
</body>	
</html>