<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar producto</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-7-col-md-6">
				<form action="/product/editar" method="POST" class="search-form" enctype="multipart/form-data">
					<p>
						<label class="form-label" for="nombre">Nombre</label>
						<input class= "form-input" type="text" name="nombre" value="<%= autoEditado.nombre %>">
					</p>
					<p>
						<label class="form-label" for="nombre">Descripción</label>
						<input class= "form-input" type="text" name="descripcion" value="<%= autoEditado.descripcion %>">
					</p>
					<p>
						<label class="form-label" for="nombre">Fecha de Creación</label>
						<input class= "form-input" type="date" name="fecha_creacion" value="">
					</p>
					<p>
						<label class="form-label" for="nombre">Imagen</label>
						<input class= "form-input" type="file" name="image_URL" value="<%= autoEditado.image_URL %>">

					</p>
					<p>
                        <input type="hidden" name="id" value="<%= autoEditado.id %>">
                        <input type="submit" value="editar">
					</p>
				</form>		
			</div>	
		</div>
	</div>
			<%- include('./partials/footer') %>
</body>
</html>