<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include("partials/header") %>
	<!-- /Header -->
	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= product.nombre %></h2>

			<% if(logueado && product.userP.id == idUsuario) {%>
				<form action="/product/productEdit" method="GET">
					<input type="hidden" name="id" value="<%= product.id %>">
					<input type="submit" value="editar" class="botonEditar">
				</form>
				<!--<p class="product-detail-description1">
					<a href="http://localhost:3000/product-add" >Editar</a>
				</p>-->
				<form action="/product/borrar" method="POST">
					<input type="hidden" name="id" value="<%= product.id %>">
					<input type="submit" value="Borrar" class="botonBorrar">
			  </form>
			<% } %>

		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="<%= product.image_URL%>" alt="" class="product-detail-img">
					<p class="product-detail-description"><%= product.descripcion%></p>
					<p>Agregado por <%= product.userP.nombre %>  </p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% product.comentarioP.forEach(element =>{%>
						  <article>
							<img src="/images/users/<%= element.Cuser.foto %>" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="http://localhost:3000/users/profile/<%= element.Cuser.id%>"><%= element.Cuser.nombre%></a> </strong>
								<%= element.mail%></p>
							</div>
						</article>
						<%})%>
					
					</section>
					<% if(! logueado) { %>
					
						<% } else { %>
							<form class="form" action="/product/product/<%= product.id%>" method="POST">
								<input type="hidden" name="id_producto" value="<%= product.id %>">
								<input class="form-input" type="text"  placeholder="Agregar comentario" name="mail">
						        <input type="submit" class="buy-now-button agregar" id="agregar" value="Agregar Comentario"></input>
							</form>
						<% } %>
					
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->			
	<%- include('./partials/footer') %>
</body>	
</html>