<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('./partials/head') %>
<body>
	<!-- Header -->
	<%- include('./partials/header') %>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Resultados de búsqueda</h2>
			</div>
			<% if (respuesta) { %>
			<div>
				<h2 class="products-title"><%= respuesta %></h2>
			</div>
			<% } %>
			<% lista.forEach(element =>{%>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="product/product/<%= element.id%>">
							<figure class="product-box_image">
								<img src="/images/autos/<%= element.image_URL%>" alt="<%= element.nombre%>">
							</figure>
							<article class="product-box_data">
								<h2><%= element.nombre%></h2>
								<p><%= element.descripcion%></p>
								<a href="users/profile/<%= element.userP.id%>"><%= element.userP.nombre%></a>
							</article>
						</a>
					</section>
				</div>
				<%})%>
				
			<%- include('./partials/footer') %>
</body>

</html>